.homepage-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: black; */
}

.homepage-content {
  text-align: center;
  font-size: 1.5rem;
}

.logo {
  height: 200px;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

.welcome-heading {
  margin-top: 0;
}
